@import '../utilities/variables';

/*ESTILOS PARA CONOCENOS MOBILE*/

/*ESTILOS PARA BANNER CONOCENOS*/
.bannerConocenos {
    width: 100%;
    img {
        width: 100%;
    }
}

/*ESTILOS PARA LA DESCRIPCION CONOCENOS*/

.descripcionConocenos {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        padding: 100px 0;
        font-size: 30px;
        font-family: $tituloPrincipal;
    }
    p {
        text-align: center;
        padding: 0 10px;
    }
}

/*ESTILOS PARA LA SECCION IMAGENES CONOCENOS*/

.imagenesReferencialesConocenos {
    article {
        margin-bottom: 15px;
        width: 100%;
        height: 285px;
        overflow: hidden;
        margin-top: 20px;
        box-shadow: $shadowCard;
        transition: all 0.5s;
        &:hover {
            transform: translate(-5px, -5px);
            box-shadow: $shadowCard;
        }
        img {
            width: 100%;
        }
    }
}

/*ESTILOS PARA CONOCENOS TABLET*/

@media all and (min-width: 481px) {

    .descripcionConocenos {
        h2 {
            font-size: 40px;
            font-family: $tituloPrincipal;
        }
    }

    .imagenesReferencialesConocenos {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
        article {
            width: 300px;
            height: 342px;
            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }
    }

}

/*ESTILOS PARA CONOCENOS DESKTOP*/

@media all and (min-width: 1025px) {

    .imagenesReferencialesConocenos {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        Article {
            width: 200px;
            height: 240px;
        }
    }


}